*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.review-header {
    text-align: center;
    margin-top: 20px;
}

.underline {
    width: 100px;
    height: 5px;
    background: rgb(64, 165, 206);
    margin: auto;
    margin-top: 10px;
}